.logo {
    background-color: #D28927;
    border-radius: 8px;
    margin-left: 2px;
    padding: 4px 6px;
    color: black;
}

.rounded {
    border-radius: 8px !important;
}

.form-control {
    border: 0;
    background-color: #2C2C2C;
    color: aliceblue;
}

.form-control:focus {
    background-color: #3D3D3D;
    color: aliceblue;
}